/**
The stylesheet used for the main App component.
 */

.App {
	position: relative;
	background-color: hsl(0, 0%, 100%);
	border: 1px solid hsl(0, 0%, 0%);
	padding: 2rem;
	margin: 1rem;
	border-radius: 0.5rem;
	max-width: max-content;
}

.stepCounter {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.pagination {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
	justify-content: flex-end;
}